<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- The INTERNET permission is required for development. Specifically,
         the Flutter tool needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Debug only: allow cleartext HTTP to the local Supabase stack
         (http://10.0.2.2:54321 from the emulator). Release builds are
         unaffected and require HTTPS. -->
    <application
        android:usesCleartextTraffic="true"
        tools:ignore="HardcodedDebugMode" />
</manifest>
